body .box:nth-child(3n) {
  background-color: steelblue;
}

body .box:nth-child(3n+1) {
  background-color: tomato;
}

body .box:nth-child(3n+2) {
  background-color: yellow;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px dashed;
}

#busey {
  background: url('../img/gary_busey.jpg');
  background-size: 100%;
  background-position: center center;
}